<app-todo></app-todo>

<!-- <div class="container"> -->
<!-- <p *ngIf="gender === 'male'; else femaleView">Male</p>
<ng-template #femaleView>
    <p>Female</p>
</ng-template>
<button (click)="toggleGender()" class="btn btn-info">Toggle Gender</button> -->

    <!-- <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Subject</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                <td>{{ student.name }}</td>
                <td>{{ student.subject }}</td>
                <td>{{ student.address }}</td>
            </tr>
        </tbody>
    </table>

    <div [ngSwitch]="city">
        <p *ngSwitchCase="'PN'">Pune</p>
        <p *ngSwitchCase="'MU'">Mumbai</p>
        <p *ngSwitchCase="'NA'">Nashik</p>
        <p *ngDefaultCase>Invalid City</p>
    </div> -->
    
<!-- </div> -->